<#include "/header.html"/>
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/detail.css">

<div class="module-box">
    <div class="module-body">
        <ul class="menu-side-mod">
            <li><i class="icon-menu-item icon-menu1"></i><a href="/profile/440524000/myFollowings">我的收藏</a>
            </li>
            <li><i class="icon-menu-item icon-menu2"></i><a href="/profile/440524000/wrongset">我的错题</a></li>
            <li><i class="icon-menu-item icon-menu3"></i><a href="/profile/440524000/courses">我的课程</a></li>
            <li><i class="icon-menu-item icon-menu4"></i><a href="javascript:void(0);" class="js-open-blog">我的博客</a></li>
            <li><i class="icon-menu-item icon-menu5"></i><a href="/profile/440524000/project/mine">我的项目</a>
            </li>
            <li><i class="icon-menu-item icon-menu6"></i><a href="/profile/440524000/resume">我的简历</a></li>
            <li><i class="icon-menu-item icon-menu7"></i><a href="/profile/440524000/circle/joined">我的圈子</a>
            </li>
            <li><i class="icon-menu-item icon-menu8"></i><a href="/discuss/tags?type=0&amp;onlyMine=true">我关注的话题</a>
            </li>
        </ul>
    </div>
</div>

<#include "/js.html"/>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
<#include "/footer.html"/>